# Environment config example.
# Create a ".env" file (on Windows create a ".env." which will automatically become ".env") and copy the contents there.

# These variables override default ones in "config.json" if you run the bot by "npm run dev" or "heroku local" CLI commands.

DRSS_BOT_TOKEN=
DRSS_BOT_PREFIX=~
DRSS_BOT_CONTROLLER_IDS=
DRSS_DATABASE_URI=
DRSS_FEEDS_REFRESH_TIME_MINUTES=15
DRSS_FEEDS_DEFAULT_MESSAGE=:newspaper:  |  **{title}**\n\n{link}\n\n{subscriptions}
