# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
setupTests.ts
vite.config.ts
# Storybook stories use satisfies syntax that conflicts with prettier parser
src/stories
