body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sketch-picker {
  background: #2d3748 !important;
  border: solid 1px rgba(255, 255, 255, 0.24);
}

.sketch-picker > div:last-child {
  background: red;
}
.flexbox-fix {
  display: none;
}
label {
  color: rgba(255, 255, 255, 0.80) !important;
}
